.App {
  text-align: left;
}

html,body,#root,.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App > .header {
  height: 100px;
  background-color: teal;
  color: #ffffff;
  padding: 0 2em;
}
.App > .content {
  flex: 1;
  display: flex;
  flex-direction: row;
} 

.App > .content .nav {
  width: 200px;
  border-right: 1px solid #ccc;
}
.App > .content .content-right {
  flex:1;
  padding: 1em;
}

